.circle {
    border-radius: 50%;
}

.container {
    position: relative;
}

.people {
    width: 300px;
    padding: 30px;
}

.social {
    background-image: url('../imgs/social_icons.png');
    border-radius: 50%;    

    width: 34px;
    height: 34px;
    position: absolute;
}

.twitter {
    background-position: -118px -40px;
    bottom: 70px;
    left: 50px;
}

.twitter:hover {
    background-position: -118px 0px;
}

.fb {
    background-position: -156px -40px;
    bottom: 70px;
    right: 55px;
}

.fb:hover {
    background-position: -156px 0px;
}