div {
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    border: 40px solid red;
    border-radius: 50%;
    border-right-color: rgba(255, 0, 0, 0.39);
}